{{!-- single-post --}}
<form>
  <div class="form-group">
    <label for="title">Blog Title</label>
    <input class="form-control" name="title" id="title" rows="1" value="{{post.title}}"></input>
  </div>
  <div class="form-group">
    <label for="content">Blog Content</label>
    <input class="form-control para" name="content" id="content" rows="5" value="{{post.content}}"></input>
  </div>
  <p class="small-content">Written by {{post.user.username}} on {{formatDate created_at}}</p>

{{#if (eq post.user.id user.id)}}
  <button type="submit" class="btn btn-primary" id="update-post" data-id="{{post.id}}">Update Post</button>
  <button type="submit" class="btn btn-primary" id="delete-post" data-id="{{post.id}}">Delete Post</button>
{{/if}}

{{#each post.comment.comments as |comment|}}
<input class="form-control para" name="title" id="content" rows="1" value="{{comment.content}}"></input>
<p class="small-text">{{comment.user.username}} on {{formatDate created_at}}</p>
  
  {{#if logged_in}}
  <button type="submit" class="btn btn-primary" data-id="{{comment.id}}" id="update-comment">Update Comment</button>
  <input id="comment" cols="30" rows="10"></input>
  <button type="submit" class="btn btn-primary" data-id="{{comment.id}}" id="add-comment">Add Comment</button>
  <button type="submit" class="btn btn-primary" data-id="{{comment.id}}" id="delete-comment">Delete Comment</button>
  {{/if}}
  {{/each}}
</div>
</form>
<script src="/js/blog.js"></script>