<form>
  <div>
    <h1>Dashboard</h1>
    <div class="form-group">
      <div class="container mt-5"></div>
      <label for="title">Blog Title</label>
      <textarea class="form-control" name="title" id="title" rows="1"></textarea>
    </div>
    <div class="form-group">
      <label for="content">Blog Content</label>
      <textarea class="form-control" name="content" id="content" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" id="new-post">Add Blog</button>
    <div>
</form>
{{!-- Each user post --}}
<div>
  {{#each post}}
  <div>
    <h2>{{title}}</h2>
   <a href="/api/post/{{post.id}}" class="small-text view-post" data-id="{{post.id}}">Edit Blog</a>
    <p>{{content}}</p>
    <p>Created at: {{created_at}}</p>
    <p>Posted by: {{user.username}}</p>
  </div>

    <div>
      {{#each post.comments as |comment|}}
      <p class="para">{{comment.content}}</p>
      <p class="small-content">{{comment.user.username}} on {{formatDate created_at}}</p>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>
<script src="/js/dashboard.js"></script>