<div>
  {{#each posts as |post|}}
  <div class="divider">
    <h4>{{post.title}}</h4>
    <span class="small-text"><a href=`{{post.user_id}}`>View Blog</a></span>
    <div>
      <p class="para">{{post.content}}</p>
      <p class="small-text">Written by {{user.username}} on {{formatDate created_at}}</p>
    </div>
  </div>
  {{/each}}
</div>